﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="ucFooter.ascx.vb" Inherits=".ucFooter" %>
<link rel="stylesheet" type="text/css" href="css/custyles.css"> 
    <table >
        <tr>
            <td align="right" class="footerleft">
  <img src="images/chulappepfooter.png" width="245"/></td>
         
            <td align="left" valign="middle" class="footerMain">หน่วยฝึกปฏิบัติงานวิชาชีพ คณะเภสัชศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย <br />
            254 ถนนพญาไท เขตปทุมวัน กรุงเทพมหานคร 10330 โทร 02-218-8450-1 โทรสาร 02-218-8450</td>
        </tr>
    </table> 

