 .modal_loading
{
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            background-color: #000;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
}
.center_loading
{
            z-index: 1000;
            margin: 300px auto;
            padding: 10px;
            width: 130px;
       
            border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
}
.center_loading img
{
            height: 128px;
            width: 128px;
}

.dialog_bg {
background-color: #222;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
	opacity:0.4;filter:alpha(opacity=40);
}
.dialog_box {
	border:solid 1px #4a4a4a;
	background-color: #fff;
}

.title {
padding: 0px 0px 0px 5px;
font-weight: bold;
 
	line-height: 25px;
	font-size: 12px;
	border:solid 1px #ff4f8a; 
 	
}
.dialog_content {
	padding: 10px 10px 10px 10px;
	font-size: 12px;
}

input[type=button]{
	font-weight: 500;
	height: 30px;
 padding: 0px 5px 0px 5px;	
	margin: 2px 2px 2px 2px;
	color: #34495e;
	cursor:pointer;	
	  border:solid 1px #ddd;
	-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;

	background: -moz-linear-gradient(top, #fff 1%, #ddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -o-linear-gradient(top, #fff 1%,#ddd 100%);
	background: -ms-linear-gradient(top, #fff 1%,#ddd 100%);
	background: linear-gradient(top, #fff 1%,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
			
}
input[type=button]:hover,active{
 	font-weight: 500;
	height: 30px;
 padding: 0px 5px 0px 5px;	
	margin: 2px 2px 2px 2px;
	color: #fff;
	cursor:pointer;	
		border:solid 1px #ff4f8a;
		-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
	background: -moz-linear-gradient(top, #ff82ac 1%, #ff4f8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff82ac), color-stop(100%,#ff4f8a));
	background: -webkit-linear-gradient(top, #ff82ac 1%,#ff4f8a 100%);
	background: -o-linear-gradient(top, #ff82ac 1%,#ff4f8a 100%);
	background: -ms-linear-gradient(top, #ff82ac 1%,#ff4f8a 100%);
	background: linear-gradient(top, #ff82ac 1%,#ff4f8a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
		
} 
